
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Check-in Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group" style="">
        <a class="form-groupText" for="dateOfBirth" >
          Scan a Particular Scope <br>
          OR<br>
          Key in Scope ID manually<br><br>
        </a>
        <div class="input-group">
          <input id="dateOfBirth"
                 class="form-control"
                 placeholder="Awaiting Input...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="successCheckIn();modal.close('Save click') ; ">
      Submit
    </button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2" >
      Check-out Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group">
        <a class="form-groupText" for="dateOfBirth" >
          Scan a Particular Scope <br>
          OR<br>
          Key in Scope ID manually<br><br>
        </a>
        <div class="input-group">
          <input id="dateOfBirth2"
                 class="form-control"
                 placeholder="Awaiting Input..."/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="open(content1);modal.close('Save click') ; " >
      Submit
    </button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      Check-out Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group">
        <a class="form-groupText" for="dateOfBirth" >
          Check Out <br>
          Scope ID: ModA_12354 <br><br><br>
        </a>
        <a class="form-groupText" for="dateOfBirth" >
          Please Select Usage:
        </a>

        <div class="btn-group" style="width:100%">
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Operations</button>
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Quarantine</button>
        </div>
        <div class="btn-group" style="width:100%">
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Sampling</button>
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Repair</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="successCheckout();modal.close('Save click') ; ">
      Submit
    </button>
  </div>
</ng-template>

<div class="main-container">
  <div class="topnav" id="myTopnav">
    <div >Welcome,&nbsp; John Doeh (1849224)!</div>
  </div>
  <div class="card-container-container">
    <div class="card-container" id="equipmentStatusBox">
      
      <a class="card" routerLink="/equipmentstatus">
        <i class="fa-solid fa-wrench fa-2x" style="color: black"></i><br>
        <span class="titleStatus">Equipment Status</span>
        
      </a>
      <a class="hoverIcon" >
   
          <div>
            <div class="instruction-container hide" >
              <div class="box2 sb12 ">Click view a scope detail.</div>
            </div>
            <i class="fa-solid fa-circle-question question-icons" (mouseover)="showInstruction($event,true)" (mouseout)="showInstruction($event,false)"></i>
          </div>
      </a>
    
      <a class="card" routerLink="/inventory">
        <i class="fa-solid fa-clipboard fa-2x" style="color: black"></i><br>
        <span class="titleStatus">Inventory List</span>
      </a>
      <a class="hoverIcon" >
        <div>
          <div class="instruction-container hide" >
            <div class="box2 sb12 ">Click to view all scopes in inventory list.</div>
          </div>
          <i class="fa-solid fa-circle-question question-icons" (mouseover)="showInstruction($event,true)" (mouseout)="showInstruction($event,false)"></i>
        </div>
      </a>
    
      <a class="card" routerLink="/calendar">
        <i class="fa-solid fa-calendar fa-2x" style="color: black"></i><br>
        <span class="titleStatus">Calendar</span>
      </a>
      <a class="hoverIcon" >
        <div>
          <div class="instruction-container hide" >
            <div class="box2 sb12 ">Click to view calander to see which scope(s) had raised an alert.</div>
          </div>
          <i class="fa-solid fa-circle-question question-icons" (mouseover)="showInstruction($event,true)" (mouseout)="showInstruction($event,false)"></i>
        </div>
      </a>
    </div>
    <div class="card-container">
      <a class="card" (click)="open(content)">
        <i class="fa-solid fa-right-to-bracket fa-2x" style="color: black"></i><br>
        <span>Check In Equipment</span>
      </a>
      <a class="hoverIcon" >
 
          <div>
            <div class="instruction-container hide" >
              <div class="box2 sb12 ">Click to Check-In Scope.</div>
            </div>
            <i class="fa-solid fa-circle-question question-icons" (mouseover)="showInstruction($event,true)" (mouseout)="showInstruction($event,false)"></i>
          </div>
      </a>
      <a class="card" (click)="open(content2)">
        <i class="fa-solid fa-right-to-bracket inverted fa-2x" style="color: black;"></i><br>
        <span>Check Out Equipment</span>
      </a>
      <a class="hoverIcon" >
   
    <div>
      <div class="instruction-container hide" >
        <div class="box2 sb12 ">Click to Check-Out Scope.</div>
      </div>
      <i class="fa-solid fa-circle-question question-icons" (mouseover)="showInstruction($event,true)" (mouseout)="showInstruction($event,false)"></i>
    </div>
  </a>
    </div>
  </div>


<footer>
  Hover over the
  <i width="40" class="fa-solid fa-circle-question"></i>
  for assistance!
</footer>
</div> -->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Check-in Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group" style="">
        <a class="form-groupText" for="dateOfBirth" >
          Scan a Particular Scope <br>
          OR<br>
          Key in Scope ID manually<br><br>
        </a>
        <div class="input-group">
          <input id="dateOfBirth"
                 class="form-control"
                 placeholder="Awaiting Input...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="successCheckIn();modal.close('Save click') ; ">
      Submit
    </button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2" >
      Check-out Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group">
        <a class="form-groupText" for="dateOfBirth" >
          Scan a Particular Scope <br>
          OR<br>
          Key in Scope ID manually<br><br>
        </a>
        <div class="input-group">
          <input id="dateOfBirth2"
                 class="form-control"
                 placeholder="Awaiting Input..."/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="open(content1);modal.close('Save click') ; " >
      Submit
    </button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      Check-out Equipment
    </h4>
    <i class="fa-solid fa-xmark close-button" (click)=
    "modal.dismiss('Cross click')"></i>
  
  </div>
  <div class="modal-body">
    <form  style="text-align: center; ">
      <div class="form-group">
        <a class="form-groupText" for="dateOfBirth" >
          Check Out <br>
          Scope ID: ModA_12354 <br><br><br>
        </a>
        <a class="form-groupText" for="dateOfBirth" >
          Please Select Usage:
        </a>

        <div class="btn-group" style="width:100%">
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Operations</button>
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Quarantine</button>
        </div>
        <div class="btn-group" style="width:100%">
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Sampling</button>
          <button style="width:50%" class="btn btn-outline-dark calendar" type="button">Repair</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="successCheckout();modal.close('Save click') ; ">
      Submit
    </button>
  </div>
</ng-template>



 
<div class="main-container">
  <div class="topnav" id="myTopnav">
    <p id="header">Welcome back,&nbsp; John Doeh (1849224)!</p><br>
    <p id="headerContent"><i style="color: white;font-size:16px;">
      Today is a fantastic day! Select one of the options below to start your journey with us! 
    </i></p>
    <img id="headerImg" style="pointer-events: none" src="../../../assets/img/hospital-staff.png">
  </div>

  <div id="homeBody_2" style="margin-top:100px;">
    <!-- <div class="homeBody_1_card theme-shadow" routerLink="/equipmentstatus">
      <div class="homeBody_1_logo">
        <i class="fa-solid fa-wrench fa-2x" style="color: white; font-size:60px"></i>
      </div>
        <div class="homeBody_1_content">
          <p class="bodyTitle">Equipment Status</p>
          <p class="bodyHelp"><i style="color: white;">Click here to view the sampling details and history of all scopes.</i></p>
        </div>
    </div> -->

    <div class="homeBody_2_card theme-shadow" routerLink="/inventory">
      <div class="homeBody_2_logo">
        <i class="fa-solid fa-clipboard fa-2x" style="color: white; font-size: 60px;"></i>
      </div>
        <div class="homeBody_2_content">
          <p class="bodyTitle">Inventory List</p>
          <p class="bodyHelp"><i style="color: white;">Click here to view information of all scopes currently held.</i></p>
        </div>
    </div>

    <div class="homeBody_2_card theme-shadow" routerLink="/calendar">
      <div class="homeBody_2_logo">
        <i class="fa-solid fa-calendar fa-2x" style="color: white; font-size:60px"></i>
      </div>
        <div class="homeBody_2_content">
          <p class="bodyTitle">Calendar</p>
          <p class="bodyHelp"><i style="color: white;">Click here to view the sampling schedule of the scopes in a calendar format. Schedule scopes for sampling here.</i></p>
        </div>
    </div>

  </div>
  <div id="homeBody_2">
    <div class="homeBody_2_card theme-shadow" (click)="open(content)">
      <div class="homeBody_2_logo">
        <i class="fa-solid fa-right-to-bracket fa-2x return-icon" style="color: white; font-size:60px"></i>
      </div>
        <div class="homeBody_2_content">
          <p class="bodyTitle">Check in equipment</p>
          <p class="bodyHelp"><i style="color: white;">Click here to return a scope into storage. From Sampling, Use or Quarantine.</i></p>
        </div>
    </div>

    <div class="homeBody_2_card theme-shadow" (click)="open(content2)">
      <div class="homeBody_2_logo">
        <i class="fa-solid fa-right-to-bracket inverted fa-2x issue-icon" style="color: white; font-size:60px;"></i><br>
      </div>
        <div class="homeBody_2_content">
          <p class="bodyTitle">Check out equipment</p>
          <p class="bodyHelp"><i style="color: white;">Click here to issue scopes for Use, Sampling or Quarantine.</i></p>
        </div>
    </div>
  </div>


  <!-- <footer>
    Hover over the
    <i width="40" class="fa-solid fa-circle-question"></i>
    for assistance!
  </footer> -->
</div>