body {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
  }

#navbar {
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #D9D9D9;
}

#main-container {
    width: 82%;
    height: 830px;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #ededed;
    
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 4% 0% 0% 3%;
}

#profile-section{
    width: 94%;
    margin: 0 auto;
    height: 240px;
    display: flex;
    margin-top: 2%;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#profile-image{
    padding-left: 2%;
    height: 80%;
    align-self: center;
}

#profile-image img{
    height: 100%;
    width: 100%;
}

#image-description{
    margin-left: 2%;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

#name{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

#position{
    color: grey;
    margin-top: 5px;
}

#hospital{
    margin-top: 24px;
    margin-bottom: 0;
}

#hospital-address{
    margin-top: 0;
    margin-bottom: 0;
}

#profile-sub-section{
    width: 94%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
}

.sub-containers{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#upcoming-container{
    margin-right: 0.9%;
}

#history-container{
    margin-left: 0.9%;
}

#upcoming, #history{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%;
}

.subsection-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 92%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 1%;
}

.subsection-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.subsection-table th, .subsection-table td {
    padding: 12px 15px;
}

.subsection-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.subsection-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.subsection-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.subsection-table tbody tr.active {
    color: #009879;
}

tr:hover, .subsection-table tbody tr.active:hover{
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
  
li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
background-color: #555;
color: white;
}