<div class="page" style="width: 100%; height: calc(100vh - 62px);display: flex; flex-direction: row;">
<div id="main-container">

    <p id="header">Profile Page</p>

    <div id="profile-section">
        <div id="profile-image">
            <img src="assets/img/AvatarMaker.png"> 
        </div>
        <div id="image-description">
            <p id="name">John Doeh (1849224)</p>
            <p id="position">Senior Nurse</p>
            <p id="hospital">Tan Tock Seng Hospital</p>
            <p id="hospital-address">11 Jln Tan Tock Seng, Singapore 308433</p>
        </div>
    </div>

    <div id="profile-sub-section">
        <div id="upcoming-container" class="sub-containers">
            <p id="upcoming">Upcoming</p>    
            <div id="upcoming-table-container">
                <table class="subsection-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Desription</th>
                            <th>Equipment ID</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>2</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>4</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="history-container" class="sub-containers">
            <p id="history">History</p>    
            <div id="history-table-container">
                <table class="subsection-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Desription</th>
                            <th>Equipment ID</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>2</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>4</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Washing</td>
                            <td>2991823</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>Collection</td>
                            <td>2912323</td>
                            <td>31/10/22 0400hrs</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>