.popout-container {
    z-index: 900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    
    

}

.popout {
    // position:fixed; 
    padding: 8px 16px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    // width: 300px ;
    // left: 50%; 
    // top:50% ; 
    // transform: translate(-50%, -50%);

    background: white;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 20px;
    color: rgb(4, 127, 0);
}

// table, tr, td {
//     border: none;
// }

th,td{
    padding: 10px 20px;
}

table {
    border-collapse: collapse;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}